<!DOCTYPE html>
<html>
<head>
  <title>Error <%= statusCode %></title>
</head>
<body style="font-family: sans-serif; text-align: center; padding: 50px;">
  <h1>Error <%= statusCode %></h1>
  <p><%= message %></p>
  <a href="/">Go to Home</a>
</body>
</html>